*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
ol,ul,li { 
	list-style:none; 
}
a{
	text-decoration: none;
}
body { 
	width:100%;
	background:#fff;
	color:#333; 
	font-size:14px; 
	font-family: "微软雅黑", Arial, Helvetica, sans-serif; 
}
/*页面初始化*/

#header{
	width:100%;
	height:450px;
	border-bottom: 2px solid #73AEA6;
	background-image:url(http://kming.top/img/i/bd.jpg);
	background-position:center 0px ;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body #header .nav{
	width:100%;
	height:30px;
	overflow:hidden;
	background-color:#444;
	background-image:url(http://kming.top/img/i/sign.png);
	background-repeat: no-repeat;
	background-position: 10px;
	 filter:alpha(opacity=70);  
     -moz-opacity:0.7;  
     -khtml-opacity: 0.7;  
     opacity: 0.7;  
}
#header .nav a{
	padding:0px 2em;
	line-height: 2em;
	color:#fff;
	display:inline;
	float:right;
}
/*头部结束*/
#main{
	position: relative;
}
#main .title{
	width:6em;
	padding-top:1em;
	padding-bottom:0.5em;
	text-align: center;
	border-bottom: 2px solid #73AEA6;
    margin: 0 auto;
}
/*关于我们*/
.sketch{
	width:50%;
	color:#666;
    text-align: center;
    background-color:#f4f4f4; 
    border: 1px solid #e6e6e6;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
	margin:40px 0px 40px 37px;
    display: block;
    padding:2em;
    margin: 0 auto;
    margin-top: 2em;
}
#introduce {
	max-width:45%;
	margin: 0 auto ;
	margin-bottom: 20px;
	overflow:hidden;
}
#introduce .triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #73AEA6;
    border-bottom: 5px solid transparent;
}
/*#introduce p{
background-color:#73AEA6; 
margin-left: 20px;
margin-top:10px;
float:left;
display: none;
}*/
#introduce img{
float:left;
background-image:url(http://kming.top/img/i/head.png);
}
.people{
	margin-top:20px;
	padding:0px 0px 0px 28px;
	float:left;
}
/*介绍结束*/
#task div{
	width:200px;
	height:250px;
	float: left;
	position: relative;
	left:3%;
	background-color:#f4f4f4;
	background-image:url(http://kming.top/img/i/bone.png);
	background-repeat: no-repeat; 
	background-position: center 0;
    border: 1px solid #e6e6e6;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
	margin:40px 0px 20px 58px;
}
#task{
	width:57%;
	margin: 0 auto;
	overflow:hidden;
}
#task a{
	position:absolute;
	top:75%;
	left:26%;
	color:#F66C20;
	font-size:16px;
	display: block;
	width:6em;
	height: 1.7em;
	border:1px solid #eddaa6;
	padding: 0px 0px 0px 25px;
	-moz-border-radius: 2px;      
    -webkit-border-radius: 2px;   
    border-radius:2px;      
}
#footer{
	height:30px;
	background-color:#444;
	background-image:url(http://kming.top/img/i/sign.png);
	background-repeat: no-repeat;
	background-position:50%;
	 filter:alpha(opacity=70);  
     -moz-opacity:0.7;  
     -khtml-opacity: 0.7;  
     opacity: 0.7; 
}
/*反转*/
#header .nav a:hover,
#header .nav a:focus{
	background-color:#8EC2B6; 
	color:#333;
	border-bottom: 2px solid #fff;
}
#introduce img:hover,
#introduce img:focus{ 
background-image:url(http://kming.top/img/i/head-show.png);
}
#task a:hover,
#task a:focus{ 
background-color: #f6df5e;
color: #fff;
}
/*指定分辨率*/
@media screen and (max-width:750px){
    #header{
	height:330px;
	border-bottom: 2px solid #73AEA6;
	background-image:url(http://kming.top/img/i/bd-750.jpg);
}
@media screen and (max-width:460px){
    #header{
	height:180px;
	border-bottom: 2px solid #73AEA6;
	background-image:url(http://kming.top/img/i/bd-460.jpg);
}
}